#
#Fri Nov 20 08:47:13 GMT 2020
time.simulated.increment=1000
ledger.sync=true
time.provider=org.fuserleer.time.SimulatedTime
ledger.reorgs=true
debug.profiler=false
network.connections.in=2
ntp.pool=pool.ntp.org
ledger.accumulator.iterations=1
network.connections.out=2
universe=v2djcmVhdG9yWCIBA46gu9y3wLfVwlm4e+E0R1dDFmeNmy3Sfi7cfR5hEfqPa2Rlc2NyaXB0aW9ueBhUaGUgZGV2ZWxvcG1lbnQgdW5pdmVyc2VlZXBvY2gZDhBnZ2VuZXNpc79lYXRvbXOBv2V0eXBlZGtsZWRnZXIuYXRvbf9kaGFzaFghAwAAAAAAAAAAK7WcMEUBE4HExsHpPsSl9oyE5JERGIuNZmhlaWdodABmbWVya2xlWCEDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABocHJldmlvdXNYIQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGRzdGVwAGV0eXBlZGxsZWRnZXIuYmxvY2v/ZW1hZ2ljOz0Yc5jU2//9ZG5hbWVmRGV2bmV0ZHBvcnQZdTBrc2lnbmF0dXJlLnJYIQFKpW5D2E+xA/wwYGASB7lVitgvlS57OzLj/vDy4lIAVWtzaWduYXR1cmUuc1ghAVYYF3IqflhX+qY3hGtMgdOaB+yJhZY5ijzD5UbRDlkGaXRpbWVzdGFtcBsAAAEIg0NsAGR0eXBla0RFVkVMT1BNRU5UZXR5cGVkaHVuaXZlcnNl/w==
